.c-arrow,
.ui-icon--ico-arrow {
    transition: width ease 0.2s, color ease 0.1s, transform ease .2s;
}

.c-arrow {
    display: inline-flex;
    color: color(grey);
}

.c-arrow-wrapper {
    display: flex;
}

.c-arrow-wrapper:hover {
    .c-post-teaser__action .c-label,
    .ui-icon--ico-arrow {
        color: color(accent);
    }
    .ui-icon--ico-arrow {
        width: 2em;
    }
    .c-arrow {
        animation: pulse_move_right 1s infinite;
    }
}
