.c-btn {
    @include typo-2;
    @include helper--transition;

    position: relative;
    z-index: 1;

    display: flex;
    overflow: hidden;

    box-sizing: border-box;
    padding: .5rem 1.5rem;

    cursor: pointer;
    text-transform: uppercase;

    color: white;
    border: 2px solid color(main);
    background-color: color(main);

    &::before {
        @include helper--transition;
        transition-duration: .4s;

        position: absolute;
        z-index: 0;
        top: 0;
        left: -1rem;

        display: block;

        width: calc(100% + 2rem);
        height: 100%;

        content: '';
        transform: translateX(-100%) skew(45deg);

        background: color(white);
    }
}

.c-btn:hover {
    color: color(main);
    border: 2px solid color(main);

    &::before {
        right: 0%;
        transform: translateX(0%) skew(45deg);
    }
}

.c-btn__arrow {
    display: flex;
    align-items: center;
    width: 1.5rem;
}

.c-btn__arrow,
.c-btn__label {
    z-index: 1;
}

.c-btn__label {
    position: relative;

    @include helper--transition;
}


// c-btn Modifiers 

// c-btn Modifiers - colors
.c-btn--inverted {
    color: color(main);
    background: color(white);
    border: 2px solid color(main);
    &:hover .c-btn__label {
        color: color(main);
    }
}

.c-btn--inverted-blue {
    color: color(white);
    background-color: color(blue-dark);
    border: 2px solid color(white);

    &:hover {
        border: 2px solid color(white);

        .c-btn__label {
            color: color(blue-dark);
        }
    }
}

.c-btn--inverted-black {
    color: color(main);
    background: color(white);
    border: 2px solid color(white);

    &::before {
        background: color(blue-dark);
    }

    &:hover {
        border: 2px solid color(white);
        background: color(white);

        &::before {
            background: color(blue-dark);
        }

        .c-btn__label {
            color: color(white);
        }
    }
}

.c-btn--orange {
    color: color(white);
    background: color(accent);
    border: none;

    &::before {
        background: color(blue-dark);
    }

    &:hover {
        border: none;
        background: color(accent);

        &::before {
            background: color(blue-dark);
        }
    }

    &:hover .c-btn__label,
    &:hover .c-arrow {
        color: color(white);
    }
}

// c-btn Modifiers - sizes
.c-btn--huge {
    padding: 1.5rem 1.5rem;

    &::before {
        left: -2rem;
        width: calc(100% + 4rem);
    }
}
