/* ==========================================================================
   Card Teaser
   ========================================================================== */

.c-teaser-card {
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: white;
}

.c-teaser-card__content {
    display: flex;
    flex-direction: column;

    padding: 2rem;

    align-items: center;
    justify-content: center;
}

.c-teaser-card__title .c-label {
    font-size: 26px;
    font-weight: font-weight(bold);
}

.c-teaser-card__icon + .c-teaser-card__title {
    margin-top: 1rem;
}

.c-teaser-card__media {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 0;
    padding-top: 0;
    padding-top: calc(280/368 * 100%);
}

.c-teaser-card__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: all ease .3s;

    background-repeat: no-repeat;
    background-size: cover;
}

.c-teaser-card__title {
    position: relative;
}

.c-teaser-card__icon {
    transition: transform ease .2s;
}

// Hovers
.c-teaser-card {
    transition: transform ease .2s, box-shadow ease .2s;
}

.c-teaser-card:hover {
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.20);
}

.c-teaser-card:hover {
    .c-teaser-card__img {
        transform: scale(1.1);
    }
    .c-arrow {
        color: inherit;
    }
}

.c-teaser-card .c-btn__arrow {
    position: absolute;
    top: 50%;
    left: calc(100% + .5rem);

    transform: translateY(-50%);
}
