.c-circle-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;

    width: 5rem;
    height: 5rem;
}

.c-circle-loader span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: 0.25rem solid #fff;
    border-radius: 50%;
    animation: anim_circle_loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.c-circle-loader span:nth-child(1) {
    animation-delay: -0.2s;
}

.c-circle-loader span:nth-child(2) {
    animation-delay: -0.15s;
}

.c-circle-loader span:nth-child(3) {
    animation-delay: -0.1s;
}
