/* ==========================================================================
   contact-teaser
   ========================================================================== */

.c-contact-teaser__heading + .c-contact-teaser__form {
    margin-top: 1.5rem;
}

.c-contact-teaser__form {
    display: flex;
    flex-direction: row;
}

.c-contact-teaser__form input[type='text'] {
    width: auto;
    margin-left: .5rem;
    padding: .5rem 1.5rem;

    font-size: .75rem;

    color: color(main);
    border: none;
    background: color(white);
}

.c-contact-teaser__form .c-btn:not(:last-child) {
    margin-right: .5rem;
}
