.c-featured-teaser-wrapper {
    position: relative;

    width: 100%;

    margin-top: -$top-offset-video-teaser;

    @include media(0, mobile) {
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;
    }

    @include media(mobile) {
        margin-top: -$top-offset-video-teaser-desktop;
    }
}

.c-featured-teaser__media {
    width: 100%;
    height: 15.5rem;
    background-size: cover;
    background-position: 50% 50%;

    @include media(mobile) {
        height: 37.5rem;
    }
}

.c-featured-teaser__card {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    width: 100%;
    max-width: 17rem;

    @include media(mobile) {
        top: 2rem;
        left: 2rem;
    }
}

.c-featured-teaser__content {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    background-color: color(white);
}

@include media(mobile) {
    .c-featured-teaser__content {
        padding: 2.5rem 2rem;
        height: 22.5rem;
    }
}

.c-featured-teaser__category {
    font-size: .75rem;

    text-transform: uppercase;

    opacity: .6;
}

.c-featured-teaser__heading {
    font-family: font(secondary);
    font-size: 1.5rem;
    font-weight: font-weight(medium);

    flex-grow: 1;

    @include media(0, mobile) {
        margin-bottom: 2rem;
    }
}

.c-featured-teaser__category + .c-featured-teaser__heading {
    margin-top: 1.5rem;
}

.c-featured-teaser__action {
    display: flex;

    align-items: center;
}

.c-featured-teaser__action .ui-icon-wrapper {
    display: flex;

    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    background-color: color(grey-light);

    align-items: center;
    justify-content: center;
}

.c-featured-teaser__action .ui-icon-wrapper + .c-label {
    margin-left: 1rem;
}

.c-featured-teaser__action .c-label {
    font-family: font(secondary);
    font-size: 1rem;
    font-weight: font-weight(medium);
}

// Hovers
.c-featured-teaser__action {
    cursor: pointer;
}

.c-featured-teaser__action .ui-icon-wrapper,
.c-featured-teaser__action .c-label {
    transition: all ease .2s;
}

.c-featured-teaser__action:hover .ui-icon-wrapper {
    background: color(accent);
    color: color(white);
    transform: scale(1.2);
}

.c-featured-teaser__action:hover .c-label {
    color: color(accent);
}