/* ==========================================================================
   Footer menu
   ========================================================================== */

.c-footer-menu-wrapper {
    display: flex;
    margin-left: auto;

    @include media(0, mobile) {
        flex-direction: column;
    }
}

.c-footer-menu {
    width: 100%;

    @include media(mobile) {
        width: 50%;
    }
}

@include media(0, mobile) {
    .c-footer-menu + .c-footer-menu {
        margin-top: 1rem;
    }
}

.c-footer-menu__heading {
    @include typo-1;
    color: color(white);
}

.c-footer-menu__list {
    @include helper--list;
}

.c-footer-menu__heading + .c-footer-menu__list {
    margin-top: 1.5rem;
}

.c-footer-menu__item + .c-footer-menu__item {
    margin-top: 0.3rem;

    @include media(mobile) {
        margin-top: 1rem;
    }
}

.c-footer-menu__link {
    @include typo-5;
    @include helper--transition;

    color: color(white);
    opacity: .4;

    &:hover {
        opacity: 1;
    }
}

