/* ==========================================================================
   Header nav
   ========================================================================== */

.c-header-nav {
    @include helper--list;

    display: flex;
}

@include media(tablet) {
    .c-header-nav {
        align-items: center;
    }
    .c-header-nav__item + .c-header-nav__item {
        margin-left: 3rem;
    }
}

.c-header-nav__link {
    font-family: font(secondary);
    font-size: 2rem;
    font-weight: font-weight(medium);
    line-height: 1.5;
}

@include media(mobile, tablet) {
    .c-header-nav__link {
        font-size: 3rem;
    }
}

@include media(tablet) {
    .c-header-nav__link {
        @include typo-1();

        color: color(white);
    }
}

$easeOutBack: cubic-bezier(.175, .885, .320, 1.275);

@include media(tablet) {
    .c-header-nav__link {
        position: relative;

        padding-bottom: .5rem;

        text-decoration: none;

        &:before,
        &:after {
            position: absolute;
            right: 0;
            bottom: 2px;
            left: 0;

            height: 4px;

            content: '';

            background-color: color(accent);
        }
        &:before {
            transition: transform 0s $easeOutBack, opacity 0s;
            transform: translateY(- .5rem*3) skew(-45deg);

            opacity: 0;
        }
        &:after {
            transition: transform  $easeOutBack, opacity .2s;
            transform: translateY(.5rem/2) skew(-45deg);

            opacity: 0;
        }
        &:hover,
        &:focus {
            &:before,
            &:after {
                transform: translateY(0) skew(-45deg);

                opacity: 1;
            }
            &:before {
                transition: transform .2s $easeOutBack, opacity .2s;
            }
            &:after {
                transition: transform 0s .2s $easeOutBack, opacity 0s .2s;
            }
        }
    }
}


// Mobile

@include media(tablet) {
    .c-header-nav-wrapper {
        display: flex;
    }
    .c-header-nav + .c-header-nav-contact {
        margin-left: 3rem;
    }
    .c-header-nav-contact {
        display: flex;

        align-items: center;
    }
    .c-header-nav-contact__toggler {
        padding: 1rem 0;

        cursor: pointer;
    }
}

@include media(0, tablet) {
    .c-header-nav-wrapper {
        overflow: auto;
    }
    .c-header-nav-wrapper {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 40rem;
        height: 100%;
        margin-left: auto;
        padding: 4rem 2rem;

        background-color: white;
    }
    .c-header-nav {
        flex-direction: column;

        color: color(main);
    }
}

@include media(0, mobile) {
    .c-header-nav-wrapper {
        padding: 2rem;
    }
}

.c-header-nav-opener__btn {
    display: flex;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    transition: all ease .3s;

    border: 1px solid #d8d8d8;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
}


body.has-open-menu .c-header-nav-opener__btn {
    transform: scale(.4) translateX(7.5rem);

    opacity: .2;
}

@include media(0, mobile) {
    .c-header-nav-opener__btn {
       width: 3rem;
    }
}

// Header-nav-closer

.c-header-nav-closer__btn,
.c-header-nav-closer__text-wrapper {
   transform: translateX(2rem);
   transition: transform ease .4s;
}

.c-header-nav-closer__btn {
   transition-delay: 0.2s;
}

.c-header-nav-closer__text-wrapper {
   transition-delay: 0.3s;
}

.c-header-nav-closer {
    display: flex;
    flex-direction: column;

    padding-top: 2rem;

    align-items: center;
}

.c-header-nav-closer__text-wrapper {
   margin-top: 2rem;
}

.c-header-nav-closer__text {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    text-transform: uppercase;
}

body.has-open-menu .c-header-nav-closer__btn,
body.has-open-menu .c-header-nav-closer__text-wrapper {
   transform: translateX(0rem);
}


@include media(0, tablet) {
   .c-header-nav-logo + .c-header-nav {
      margin-top: 3rem;
   }
}

@include media(0, mobile) {
   .c-header-nav-logo + .c-header-nav {
      margin-top: 2rem;
   }
}

@include media(tablet) {
   .c-header-nav-logo {
      display: none;
   }
}

// Header-nav-contact

.c-header-nav-contact__address {
    font-size: 1rem;
    font-weight: font-weight(medium);
    font-style: normal;
    line-height: 1.4;

    opacity: .6;
}

.c-header-nav-contact__content {
    display: flex;

    justify-content: space-between;
}

.c-header-nav-contact__action {
    display: flex;

    align-items: flex-end;
}

.c-header-nav-contact__btn + .c-header-nav-contact__btn {
    margin-left: .7rem;
}

.c-header-nav-contact__desc + .c-header-nav-contact__action {
   margin-top: 1rem;
}

@include media(0, tablet) {
    .c-header-nav-contact__content {
        display: flex;
        flex-direction: column;

        margin-bottom: 5rem;
    }
}


@include media(tablet) {
   .c-header-nav-contact__content {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: color(white);
      padding: 1.5rem;
      width: 17rem;
   }
   .c-header-nav-contact {
      position: relative;
   }
   .c-header-nav-contact:hover > .c-header-nav-contact__content {
      display: block;
   }
}
