/* ==========================================================================
   Hero Slider
   ========================================================================== */

.c-hero-slider-wrapper {
    position: relative;

    height: 34rem;

    @include media(mobile) {
        height: 44rem;
    }
}

.c-hero-slider {
    @include helper--list;
}

.c-hero-slide {
    @include helper--list;

    position: relative;

    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;
    max-width: 1920px;

    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: center;
}

.c-hero-slide__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: transform linear 4s;

    background-color: color(main);
    background-position: 50% 50%;
    background-size: cover;

    .swiper-slide-active & {
        transform: scale(1.05);
    }
}

.c-hero-slide__heading {
    @include media(mobile) {
        font-size: 5.25rem;
    }

    z-index: 1;

    display: none;

    font-family: font(secondary);
    font-size: 3.25rem;
    font-weight: font-weight(medium);

    transition: transform ease;
    animation: fade_in_up 1.6s;
    text-align: center;

    color: color(white);
    text-shadow: 0 2px 64px rgba(0,0,0,.50);

    .swiper-slide-active & {
        display: block;
    }
}

.c-hero-slide__heading .c-mark {
    color: color(accent);
}

.c-hero-slide__heading--alt {
    display: block;
}
