/* ==========================================================================
   Hero Video
   ========================================================================== */

.c-hero-video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.c-hero-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.c-hero-video__bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.c-hero-video__bg video {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
    object-position: center;
    
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

.c-hero-video__content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
}

.c-hero-video__mask {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: color(black);
    opacity: .4;

    display: none;
}

.c-hero-video-wrapper.is-mask .c-hero-video__mask {
    display: block;
}
