.c-modal-video {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: calc(100% - 1rem);
    width: 100%;

    transition: opacity .4s ease;
    animation: modal_open .4s;

    @include media(mobile) {
        height: calc(100% - 6rem);
    }
}
