/* ==========================================================================
   News Teaser
   ========================================================================== */

.c-news-teaser-wrapper {
    height: 100%;
    width: 100%;
}

.c-news-teaser {
    position: relative;

    display: flex;

    height: 100%;
    width: 100%;
}

.c-news-teaser__media {
    position: relative;

    width: 50%;
    overflow: hidden;
}

.c-news-teaser__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: 50% 50%;
    background-size: cover;
}

.c-news-teaser__content {
    display: flex;
    flex-direction: column;

    width: 60%;
    height: auto;
    padding: 0.5rem 0 0 1.2rem;

    justify-content: flex-end;
}

@include media(mobile_md) {
    .c-news-teaser__content {
        width: 50%;
        min-height: 12rem;
        padding: 1.5rem 1.5rem 0;
    }
}



.c-news-teaser__date {
    font-size: 0.75rem;
    font-weight: font-weight(regular);
}

.c-news-teaser__heading {
    max-width: 30rem;
    font-size: 1.125rem;

    font-weight: font-weight(bold);
}

@include media(0, mobile_sm) {
    .c-news-teaser__heading {
        font-size: 0.75rem;
        line-height: 1.3;
    }
}

.c-news-teaser__date + .c-news-teaser__heading {
    margin-top: 0.5rem;
}

.c-news-teaser__action .ui-icon--ico-arrow {
    color: color(main);
}

.c-news-teaser__heading + .c-news-teaser__action {
    margin-top: 0.5rem;
}

@include media(mobile_md) {
    .c-news-teaser__heading + .c-news-teaser__action {
        margin-top: 1rem;
    }
}

.c-news-teaser .c-news-teaser__img {
    transition: transform ease .2s;
}

.c-news-teaser__date,
.c-news-teaser__heading {
    transition: transform ease .2s;
}

.c-news-teaser:hover .c-news-teaser__img {
    transform: scale(1.06);
}

.c-news-teaser:hover .c-news-teaser__heading,
.c-news-teaser:hover .ui-icon--ico-arrow {
    color: color(accent);
}


// News teaser - hovers

.c-news-teaser--big .c-arrow {
    color: color(white);
}

.c-news-teaser--big .c-news-teaser__media,
.c-news-teaser--big .c-news-teaser__content {
    width: 50%;
}

.c-news-teaser--big .c-news-teaser__media {
    width: 100%;
    height: 0;
    padding-top: calc(9/16 *100%);

    @include media(0, mobile) {
        padding-top: calc(220/320 *100%);
    }
    @include media(mobile) {
        height: 100%;
    }
}

.c-news-teaser--big .c-news-teaser__content {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 1rem;

    @include media(mobile) {
        padding: 1.5rem;
    }
}

.c-news-teaser--big .c-news-teaser__heading {
    font-size: 1rem;
    font-weight: font-weight(medium);

    @include media(0, mobile) {
        max-width: 15rem;
    }
    @include media(mobile) {
        font-size: 1.625rem;
    }
}

.c-news-teaser--big .c-news-teaser__date,
.c-news-teaser--big .c-news-teaser__heading {
    transition: all ease .2s;
    color: color(white);
}

.c-news-teaser--big .c-news-teaser__action .ui-icon--ico-arrow {
    color: color(white);
}

.c-news-teaser--big:hover .c-news-teaser__heading,
.c-news-teaser--big:hover .c-news-teaser__date,
.c-news-teaser:hover .c-news-teaser__heading, 
.c-news-teaser:hover .c-news-teaser__date {
    transform: translateY(-.3rem);
}

.c-news-teaser--big:hover .c-news-teaser__action .ui-icon--ico-arrow {
    color: color(accent);
}
