
.c-news__heading {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    color: color(grey);
}

.c-news__heading::before {
    margin-right: 1rem;
    @include helper--pseudo;
    position: relative;
    display: flex;

    width: 2rem;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: color(accent);
}

.c-news__heading + .c-news__list {
    padding-top: 3rem;
}

@include media(0, mobile) {
    .c-news__list {
        @include helper--list;

        display: grid;

        width: calc(100% + 1rem);
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        padding: 0;
        -ms-grid-columns: 1fr 1fr;
        grid-template-areas: 'news-big-1 news-big-1'
                            'news-big-1 news-big-1'
                            'news-2 news-2'
                            'news-3 news-3';
        grid-template-columns: repeat( 2, 1fr );
        grid-template-rows: auto;
    }

    // first child column (big box)
    .c-news__list .c-news__item:nth-child(1),
    .c-news__list .c-news__item:nth-child(2),
    .c-news__list .c-news__item:nth-child(3) {
        margin: 0.5rem;
        width: auto;
    }
    .c-news__list .c-news__item:nth-child(1) {
        grid-area: news-big-1;
    }

    .c-news__list .c-news__item:nth-child(2) {
        grid-area: news-2;
    }

    .c-news__list .c-news__item:nth-child(3) {
        grid-area: news-3;
    }
}

@include media(mobile) {

    .c-news__list {
        @include helper--list;

        display: grid;
        width: calc(100% + 1rem);
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        padding: 0;
        grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'news-big-1 news-big-1 news-2 news-2'
                            'news-big-1 news-big-1 news-3 news-3';
        grid-template-columns: repeat( 4, 1fr );
        grid-template-rows: auto;
    }

    // first child column (big box)
    .c-news__list .c-news__item:nth-child(1),
    .c-news__list .c-news__item:nth-child(2),
    .c-news__list .c-news__item:nth-child(3) {
        margin: 0.5rem;
        width: auto;
    }


    .c-news__list .c-news__item:nth-child(1) {
        grid-area: news-big-1;
    }

    .c-news__list .c-news__item:nth-child(2) {
        grid-area: news-2;
    }

    .c-news__list .c-news__item:nth-child(3) {
        grid-area: news-3;
    }
}

.c-news__list + .c-news__btn {
    margin-top: 2rem;
}

.c-news__btn {
    display: flex;
}

.c-news__btn .c-btn__label + .c-btn__arrow {
    margin-left: 1rem;
}
