/* ==========================================================================
   Post Teaser
   ========================================================================== */

.c-post-teaser-wrapper {
    width: 100%;
    max-width: 28rem;
}

.c-post-teaser {
    position: relative;

    display: flex;

    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.c-post-teaser__heading {
    font-family: font(secondary);;
    font-size: 2.25rem;
    font-weight: font-weight(semibold);
}

.c-post-teaser__desc {
    font-size: 1.125rem;
    line-height: 1.5;

    opacity: .6;
}

.c-post-teaser__action .c-label {
    transition: .2s ease;
}

.c-post-teaser__heading + .c-post-teaser__desc {
    margin-top: 1.25rem;
}

.c-post-teaser__desc + .c-post-teaser__action {
    margin-top: 1.25rem;
}

.c-post-teaser__btn {
    display: flex;
}

.c-post-teaser__btn .c-label {
    margin-right: 0.5rem;
}
