/* ==========================================================================
   Temporary simple list
   ========================================================================== */

.c-simple-list {
    @include helper--list;

    display: flex;
}

.c-simple-list__item {
    @include helper--list;

    display: flex;
}

// simple list - col-3

.c-simple-list--col-3 {
    width: calc(100% + 1rem);
    margin-right: -.5rem;
    margin-left: -.5rem;
}

.c-simple-list--col-3 .c-simple-list__item {
    width: calc(1/3 * 100%);
    margin-right: .5rem;
    margin-left: .5rem;
}

// simple list - col-2

.c-simple-list--col-2 {
    width: calc(100% + 1rem);
    margin-right: -.5rem;
    margin-left: -.5rem;
    flex-wrap: wrap;
}

.c-simple-list--col-2 .c-simple-list__item {
    width: 100%;

    margin-right: .5rem;
    margin-left: .5rem;
}

@include media(mobile) {
    .c-simple-list--col-2 .c-simple-list__item {
        width: calc(1/2 * 100% - 1rem);
    }
}

// c-simple-list--hero

.c-simple-list--latest-news {
    display: flex;

    width: calc(100% + 2rem);
    margin-right: -1rem;
    margin-left: -1rem;

    flex-wrap: wrap;
}

.c-simple-list--latest-news .c-simple-list__item {
    width: calc(50% - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
}
