/* ==========================================================================
   Slider
   ========================================================================== */


// Slider pagination bullets

.c-slider-pagination__bullets {
    @include helper--list;

    display: flex;

    margin-right: .5rem;
    margin-left: .5rem;

    align-items: center;
    justify-items: center;
}

.c-slider-pagination {
    position: absolute;
    z-index: 2;
    bottom: 3rem;
    left: 50%;

    display: flex;

    font-size: .75rem;

    transform: translateX(-50%);

    color: color(white);

    justify-content: center;
}


// Slider bullet

.c-slider-bullet {
    position: relative;
    z-index: 1;

    display: block;

    width: 2rem;
    height: 0.75rem;

    cursor: pointer;

    border-radius: 100vh;
}

.c-slider-bullet + .c-slider-bullet {
    margin-left: .5rem;
}

.c-slider-bullet:after,
.c-slider-bullet:before {
    top: 50%;
    left: 0;

    display: block;

    width: 100%;

    content: '';
}

.c-slider-bullet:after {
    position: absolute;
    z-index: 1;

    height: 2px;

    background: color(grey);
}

.c-slider-bullet:before {
    position: absolute;
    z-index: -1;

    height: 0;
    max-width: 0;

    content: '';
    transition: max-width linear 3s; // depends on slide changes

    background: color(accent);
}



.is-active.c-slider-bullet:before {
    z-index: 2;

    max-width: 100%;
    height: 2px;
}

// Slider pagination number

.c-slider-pagination__slide-number {
    font-family: font(secondary);
    font-weight: font-weight(medium);
}


// c-slider-teaser

.c-slider-teaser-wrapper {
    width: 100%;
}

@include media(0,mobile) {
    .c-slider-teaser-wrapper {
        margin-right: -1rem;
        width: calc(100% + 1rem);
    }
    .c-slider-teaser__item:nth-last-child(1) {
        margin-right: 2rem !important;
    }
}

.c-slider-teaser {
    width: 75%;
    @include helper--list;
}
