/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes fade_in_up {
    from {
        transform: translateY(32px);

        opacity: 0;
    }
    to {
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes pulse_move_right {
    0%,
    100% {
        transform: translateX(0%);
    }
    60% {
        transform: translateX(30%);
    }
}

@keyframes anim_circle_loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
