/* ==========================================================================
   Base resets
   ========================================================================== */

ul,
ol {
    padding-left: $size-gutter;

    @include helper--list;
    &:not([class]) {
        padding-left: $size-gutter;
        li + li {
            margin-top: $size-gutter/2;
        }
    }
}