/* ==========================================================================
   Webfonts
   ========================================================================== */

// Roboto

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold.eot);
    src: url(../fonts/roboto-bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/roboto-bold.woff2) format('woff2'),
         url(../fonts/roboto-bold.woff) format('woff'),
         url(../fonts/roboto-bold.svg#robotobold) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-italic.eot);
    src: url(../fonts/roboto-italic.eot?#iefix) format('embedded-opentype'),
         url(../fonts/roboto-italic.woff2) format('woff2'),
         url(../fonts/roboto-italic.woff) format('woff'),
         url(../fonts/roboto-italic.svg#robotoitalic) format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-medium.eot);
    src: url(../fonts/roboto-medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/roboto-medium.woff2) format('woff2'),
         url(../fonts/roboto-medium.woff) format('woff'),
         url(../fonts/roboto-medium.svg#robotomedium) format('svg');
    font-weight: medium;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular.eot);
    src: url(../fonts/roboto-regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/roboto-regular.woff2) format('woff2'),
         url(../fonts/roboto-regular.woff) format('woff'),
         url(../fonts/roboto-regular.svg#robotoregular) format('svg');
    font-weight: normal;
    font-style: normal;
}


// Work sans

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/work-sans-bold.eot);
        src: url(../fonts/work-sans-bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/work-sans-bold.woff2) format('woff2'),
        url(../fonts/work-sans-bold.woff) format('woff'),
        url(../fonts/work-sans-bold.svg#work-sans-bold) format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/work-sans-semi-bold.eot);
    src: url(../fonts/work-sans-semi-bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/work-sans-semi-bold.woff2) format('woff2'),
        url(../fonts/work-sans-semi-bold.woff) format('woff'),
        url(../fonts/work-sans-semi-bold.svg#work-sans-semi-bold) format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/work-sans-medium.eot);
    src: url(../fonts/work-sans-medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/work-sans-medium.woff2) format('woff2'),
        url(../fonts/work-sans-medium.woff) format('woff'),
        url(../fonts/work-sans-medium.svg#work-sans-medium) format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/work-sans-regular.eot);
        src: url(../fonts/work-sans-regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/work-sans-regular.woff2) format('woff2'),
        url(../fonts/work-sans-regular.woff) format('woff'),
        url(../fonts/work-sans-regular.svg#work-sans-regular) format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
