/* ==========================================================================
   Transitions helpers
   ========================================================================== */

@mixin helper--transition ($duration: 130ms, $timing: ease) {
    transition-timing-function: $timing;
    transition-duration: $duration;
}

@mixin helper--list () {
    margin: 0;
    padding: 0;

    list-style: none;
}

@mixin helper--pseudo () {
    display: block;

    content: '';
}
