/* ==========================================================================
   Mixins
   ========================================================================== */

/* 1. Font smoothing
========================================================================== */
/* Better font-rendering on OSX
   https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
*/
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/* 2. A clearfix for floated elements
========================================================================== */
@mixin clearfix {
    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        overflow: hidden;

        height: 0;
        margin: 0!important;

        line-height: 0;

        content: '';
    }
}

/* 3. Append a modificator class that changes color/bg
========================================================================== */
@mixin color-modifiers {
    @each $name, $hex in $colors {
        &--#{$name} {
            color: $hex;
        }
    }
}

@mixin background-modifiers {
    @each $name, $hex in $colors {
        &--#{$name} {
            background-color: $hex;
        }
    }
}

@mixin transition ($duration: 170ms, $timing: ease) {
    transition-timing-function: $timing;
    transition-duration: $duration;
}

@mixin ellipsis () {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin animate-link ($anim-line-h: 100%, $anim-line-v: 1px, $paint: currentColor) {
    position: relative;

    overflow: hidden;
    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

        width: $anim-line-h;
        height: $anim-line-v;

        transition: .18s cubic-bezier(.52, .01, .16, 1);
        transform: scaleX(0);
        transform-origin: 0 50%;

        background: $paint;
    }
}

@mixin animate-link-reverse () {
    &:before {
        transition-timing-function: cubic-bezier(.62, .02, .34, 1);
        transition-duration: .24s;
        transform: scaleX(1);
    }
}

/* 4. Typography
========================================================================== */

// Headings

// 144px / Semibold
@mixin heading-1 {
    font-size: 7rem;
    line-height: 1;
    font-weight: font-weight(semibold);
    font-family: font(secondary);

    @include media(mobile) {
        font-size: 9rem;
    }
}

// 64px / Semibold
@mixin heading-2 {
    font-size: 4rem;
    font-weight: font-weight(semibold);
    font-family: font(secondary);
}

// 48px / Semibold
@mixin heading-3 {
    font-size: 3rem;
    font-weight: font-weight(semibold);
    font-family: font(secondary);
}

// 36px / Semibold
@mixin heading-4 {
    font-size: 2.25rem;
    font-weight: font-weight(semibold);
    font-family: font(secondary);
}

 // 24px / Semibold
@mixin heading-5 {
    font-size: 1.5rem;
    font-weight: font-weight(semibold);
    font-family: font(secondary);
}

// Typo


// 16px / Medium
@mixin typo-1 {
    font-size: 1rem;
    font-weight: font-weight(medium);
}

// 12px / Medium
@mixin typo-2 {
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: font-weight(medium);
}

// 18px / Regular
@mixin typo-3 {
    font-size: 1.125rem;
    font-weight: font-weight(regular);
}

// 12px / Regular
@mixin typo-4 {
    font-size: 0.75rem;
    font-weight: font-weight(regular);
}

// 14px / Medium
@mixin typo-5 {
    font-size: 0.875rem;
    font-weight: font-weight(regular);
}
