/* ==========================================================================
   Typography
   ========================================================================== */

/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: font-size(main);
}

body {
    font-family: font(main);
    color: color(main);

    line-height: default(line-height);
}

body.is-modal-active,
body.has-open-menu {
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

// Text alignment
.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

// Text transform
.t-upper {
    text-transform: uppercase;
}

// Text typo

.t-heading-1 {
    @include heading-1;
}

.t-heading-2 {
    @include heading-2;
}

.t-heading-3 {
    @include heading-3;
}

.t-heading-4 {
    @include heading-4;
}

.t-heading-5 {
    @include heading-5;
}


.t-typo-1 {
    @include typo-1;
}

.t-typo-2 {
    @include typo-2;
}

.t-typo-3 {
    @include typo-3;
}

.t-typo-4 {
    @include typo-4;
}

.t-typo-5 {
    @include typo-5;
}
