/* ==========================================================================
   Variables
   ========================================================================== */

/* Maps
========================================================================== */
/*
    The names and values of variables in maps are just suggestions/random values.
    Feel free to add new values, modify both the values and/or keys of the items depending on the project and your prefferences.
    For each map, a functions is defined (in base/_functions.scss).
    By default, function names are single a singular form of the map's variable name.
    Eg. To use the "main" color, a getter function "color" is defined.
    To use it, simply call: color(main).
*/

$breakpoints: (
    mobile_sm: 450px,
    mobile_md: 530px,
    mobile: 768px,
    tablet: 1280px,
    desktop: 1440px,
);

$orientations: (
    portrait: portrait,
    landscape: landscape,
);

$colors: (
    main: #222222, // #212338
    accent: #E9581D,
    white: #ffffff,
    blue: #24B8D0,
    blue-dark: #00375D,
    blue-darkest: #002030,
    grey: #979797,
    grey-dark: #AAAAAA,
    grey-light: #F2F2F2,
    black: #000000
);

$sizes: (
    media: 400px,
    inner: (
        desktop: 1140px,
        tablet: 760px,
        mobile: 320px
    ),
);

// Set main font size to body (eg. 12px), then refer to it using rem, eg. secondary: 2rem -> 24px
$font-sizes: (
    main: 16px,
    h1: 3rem,
    h2: 2rem,
    h3: 1.5rem,
    small: 0.8rem,
    quote: 9px
);

$offsets: (
    default: 16px,
    large: 24px,
    small: 8px
);

$fonts: (
    main: #{'Roboto', 'sans-serif'},
    secondary: #{'Work Sans', 'sans-serif'}
);

$font-weights: (
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700
);

$defaults: (
    border-radius: 4px,
    line-height: 1.2
);

/* Standalone variables
========================================================================== */
$white-space: 1em;
$form-control-height: 2rem;

$top-offset-video-teaser: 4rem;
$top-offset-video-teaser-desktop: 8rem;
