<div class="c-circle-loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="c-modal-video-wrapper">
  <video class="c-modal-video" autoplay loop muted plays-inline>
      <source src="{{ videoSrc }}" type="video/mp4">
  </video>
</div>

