/* ==========================================================================
   Footer
   ========================================================================== */

.l-footer {
   padding-top: 2rem;
   padding-bottom: 2rem;

   background-color: color(blue-dark);

   overflow: hidden;

   @include media(mobile) {
      padding-top: 6.5rem;
      padding-bottom: 6.5rem;
   }
}

.l-footer__aside,
.l-footer__main {
   width: 100%;

   @include media(mobile) {
      width: 50%;
   }
}

.l-footer__logo + .l-footer__contact {
   margin-top: 1.5rem;
}

.l-footer__contact + .l-footer__copyright {
   margin-top: 4.5rem;
}

.l-footer__inner {
   flex-direction: column-reverse;
}

@include media(0, mobile) {
   .l-footer__aside + .l-footer__main {
      margin-bottom: 1.5rem;
   }
}

@include media(mobile) {
   .l-footer__inner {
      flex-direction: row;
      flex-wrap: nowrap;
   }
}
