/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}

.l-header__inner {
    display: flex;
    flex-direction: row;

    height: 7.5rem;
    max-height: 7.5rem;

    transition: max-height ease .5s;

    align-items: center;
    justify-content: space-between;
}

// l-header is-sticky

.is-sticky.l-header .l-header__inner {
    max-height: 5rem;
}

.is-sticky.l-header .l-header-navbar {
    background: rgba(0, 55, 93, .933); // color(blue-dark)
}

// Header navbar

.l-header-navbar {
    position: absolute;

    width: 100%;

    transition: background-color ease .4s;

    // TODO: Marek - add alternative navbar class for changing bg color // background: rgba(255, 255, 255, .2);
    background: rgba(0, 55, 93, .3);
}

@include media(0, tablet) {
    .l-header__nav {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;

        display: flex;

        width: calc(100% - 5rem);
        height: 100vh;

        transition: transform ease .4s;
        transform: translateX(-100%);

        background: color(blue-darkest);

        justify-items: flex-end;
    }

    body.has-open-menu .l-header__nav {
        transform: translateX(0%);
    }
}

.l-header__logo {
    transition: all ease .4s;
}

body.has-open-menu .l-header__logo {
    transform: scale(.4) translateX(-220px);
}

.l-header__nav-closer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;

    width: 5rem;

    transition: transform ease .4s;
    transform: translateX(100%);

    color: white;
    background: color(blue-dark);

    justify-content: center;
}

body.has-open-menu .l-header__nav-closer {
    transform: translateX(0%);
}

@include media(0, mobile) {
    .l-header__nav-closer {
        width: 3rem;
    }
    .l-header__nav {
        width: calc(100% - 3rem);
    }
}

.l-header__nav-opener {
    margin-left: auto;
}

@include media(tablet) {
    .l-header__nav-opener,
    .l-header__nav-closer {
        display: none;
    }
}
