/* ==========================================================================
   Main content
   ========================================================================== */
* {
    box-sizing: border-box;
}
.l-main {
    width: 100%;
    max-width: 100%;

    overflow: hidden;
}
