/* ==========================================================================
   Modal (Popup)
   ========================================================================== */

.l-modal {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.l-modal__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity .4s ease;
    animation: modal_open .4s;

    opacity: .8;
    background: black;
}

.l-modal__content {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.l-modal__btn-close {
    position: absolute;
    z-index: 3;
    top: 2rem;
    right: 2rem;

    display: flex;

    width: 2rem;
    height: 2rem;

    cursor: pointer;

    color: white;

    background: color(accent);

    align-items: center;
    justify-content: center;
}

// Modifiers

.l-modal--video .l-modal__content {
    top: 50%;

    height: 0;
    padding-top: calc(9/16 * 100%);

    transform: translateY(-50%);
}

.l-profile-details-wrapper .l-modal__btn-close {
    top: 0;
    right: 0;
}
