/* ==========================================================================
   Sections
   ========================================================================== */

@include media(0, tablet) {
    .l-sec--gutter-top-tiny-mobile {
        padding-top: .5rem; // 8px
    }
    .l-sec--gutter-top-small-mobile {
        padding-top: 1rem; // 16px
    }
    .l-sec--gutter-top-regular-mobile {
        padding-top: 1.5rem; // 24px
    }
    .l-sec--gutter-top-big-mobile {
        padding-top: 2rem; // 32px
    }
    .l-sec--gutter-top-huge-mobile {
        padding-top: 2.5rem; // 48px
    }

    // l-sec--gutter-mobile-bottom

    .l-sec--gutter-top-tiny-mobile {
        padding-bottom: .5rem; // 8px
    }
    .l-sec--gutter-bottom-small-mobile {
        padding-bottom: 1rem; // 16px
    }
    .l-sec--gutter-bottom-regular-mobile {
        padding-bottom: 1.5rem; // 24px
    }
    .l-sec--gutter-bottom-big-mobile {
        padding-bottom: 2rem; // 32px
    }
    .l-sec--gutter-bottom-huge-mobile {
        padding-bottom: 2.5rem; // 48px
    }
}

@include media(tablet) {
    // l-sec--gutter-top

    .l-sec--gutter-top-tiny {
        padding-top: 1rem; // 24px
    }
    .l-sec--gutter-top-small {
        padding-top: 2rem; // 36px
    }
    .l-sec--gutter-top-regular {
        padding-top: 3rem; // 48px
    }
    .l-sec--gutter-top-big {
        padding-top: 4rem; // 64px
    }
    .l-sec--gutter-top-huge {
        padding-top: 5rem; // 80px
    }

    // l-sec--gutter-bottom

    .l-sec--gutter-bottom-tiny {
        padding-bottom: 1rem; // 24px
    }
    .l-sec--gutter-bottom-small {
        padding-bottom: 2rem; // 36px
    }
    .l-sec--gutter-bottom-regular {
        padding-bottom: 3rem; // 48px
    }
    .l-sec--gutter-bottom-big {
        padding-bottom: 4rem; // 64px
    }
    .l-sec--gutter-bottom-huge {
        padding-bottom: 5rem; // 80px
    }
}

// l-sec modifiers

.l-sec--video-teaser {
    margin-top: calc(#{$top-offset-video-teaser + 2rem})
}

@include media(mobile) {
    .l-sec--video-teaser {
        margin-top: calc(#{$top-offset-video-teaser-desktop + 2rem});
    }
}
