/*! normalize.css v1.1.0 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:active,a:hover,a:focus,a{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}html,button,input,select,textarea{color:#222}body{font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.background-clip{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}


body {
    font-family: "proxima-nova", Helvetica, Arial, sans;
    font-size: 80px;
    font-weight: 700;
    
    background: #1a1a1a url(../img/bg_body.jpg) no-repeat fixed;
    background-size: cover;
    color: #fff;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    position: relative;
}

h1 {
    font-size: 20px;
    margin: 50px 0 0;
    text-transform: uppercase;
}

h2 {
    clear: both;
    margin: 0;
    
    font-size: 80px;
    font-weight: 200;
    line-height: 1em;
 
    margin-bottom: 30px;
    
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
p {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}
p.copy {
    margin-top: 100px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 1px;
}

.content {
    clear: both;
    overflow: hidden;
}
.content p a {
    
}
.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.content ul li {
    margin: 5px 0;
}
.content ul li a,
.content p a {
    display: block;
    padding: 7px 12px;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #fff;
    color: #fff;

    -webkit-transition: all .05s ease;
        -moz-transition: all .05s ease;
        -o-transition: all .05s ease;
        -ms-transition: all .05s ease;
}

.content p a,
.content ul li a:hover {
    background: #fff;
    color: #1a1a1a;
}

aside {
    
    float: right;
    width: 208px;   
    
    margin-right: 20px;
    padding: 20px 61px 0px;
    position: relative;
    z-index: 1;
    
    background: url(../img/bg_frame_content.png) repeat-y;
}
aside:before,
aside:after {
    content: '';
    
    height: 12px;
    width: 330px;
    position: absolute;
    left: 0;
    top: -12px;
    
    background: url(../img/bg_frame_top.png);
}

aside:after {
    height: 51px;
    top: auto;
    bottom: -51px;
    background-image: url(../img/bg_frame_bottom.png);
}
aside p {
    margin: 0;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}